
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.bgimg{
    background: url('F:/final project/29.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: -8px;
    width: 100%;
    height: 50rem;
   
}

.nav-link:hover{
    border-bottom: 2px solid orange;
}

.headerset{
   
    padding-top: 200px;
    box-sizing: border-box;
}

.headerset h2{
    color: aquamarine;
    font-weight: bold;
    font-size: 73px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 10px 4px 7px black;
}

.headerset h1{
    text-shadow: 5px 6px 3px black;
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#welcome{
    background: #000;
    text-align: center;
    position: absolute;
    top: 20%;
    left: auto;
    right: auto;
    transition: translate(-50%,-50%);
    width: 100%;
}

.text1{
    color: white;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 9px;
    margin-bottom: 2rem;
    background-color: rgb(78, 90, 23);
    position: relative;
    animation: text 5s 10;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



#carousel span{
    
    text-transform: uppercase;
    display: block;
}



.carousel-inner h1{
    color: white;
    background: black;
    font-family: 'Times New Roman', Times, serif;
}

#backImage{
    background: url('F:/final project/19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/* .ourservices{
    padding: 100px 0px 60px;
} */

.ourservices a h1{
    animation: animation infinite .5s alternate;
    background-color:black;
    color: aqua;
    font-family: "Josefin Sans", sans-serif;
    
}

.ourservices a:hover{
    text-decoration: none;
}

#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}

#carding{
    background-image: linear-gradient(to bottom, #1569c7, #add8e6);
}

.card{
    box-shadow:  0 0 15px rgba(166,163,223,0.5);

}

.booking{
    background-color: #add8e6;
}

.ticket{
    animation: animation infinite .5s alternate;
    font-size: 34px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 30%;
}

.ticket a{
    text-decoration: none;
}


@keyframes text{
    0%{
        color:orange;
        margin-bottom:-40px;
    }
    30%{
        color: white;
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        color: black;
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

@keyframes animation{
	0%{
        border-radius: 0%;
    }
    100%{
        border-radius: 50%;
    }
}

